{% load i18n %}
<p>{% translate "Вы получили это письмо, потому что запросили сброс пароля для вашей учетной записи на сайте WalkPets." %}</p>

<p>{% translate "Пожалуйста, перейдите по следующей ссылке, чтобы выбрать новый пароль:" %}</p>

<p><a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">
    {% translate "Сбросить пароль" %}
</a></p>

<p>{% translate "Ваше имя пользователя (на случай, если забыли):" %} {{ user.get_username }}</p>

<p>{% translate "Спасибо за использование нашего сайта!" %}</p>

<p>{% blocktranslate %}Команда WalkPets{% endblocktranslate %}</p>