<div class="forum-post">
    <div class="post-author">
        {% if post.author.image %}
        <img src="{{ post.author.image.url }}" alt="{{ post.author.username }}" class="author-avatar">
        {% else %}
        <div class="avatar-placeholder">
            {{ post.author.username|first|upper }}
        </div>
        {% endif %}
        <div class="author-details">
            <div class="author-name">{{ post.author.username }}</div>
            <div class="post-date">
                <i class="bi bi-clock"></i> {{ post.created_at|date:"d.m.Y H:i" }}
            </div>
        </div>
    </div>

    <div class="post-content">
        {{ post.content|linebreaksbr }}
    </div>

    {% if user == post.author or user.is_superuser %}
    <div class="post-actions">
        <form method="post" action="{% url 'forum:delete_post' post.id %}" class="d-inline">
            {% csrf_token %}
            <button type="submit" class="btn btn-sm btn-danger">
                <i class="bi bi-trash"></i> Удалить
            </button>
        </form>
    </div>
    {% endif %}
</div>